<!-- all-artist.vtl -->
<h3>$type.getType() Artist Names:</h3>
<br>
#if ($artists.size() > 0 )
  <ul>
    #foreach ($artist in $artists)
      <li><a href="/genres/$type.getId()/artists/$artist.getId()">$artist.getName()</a></li>
    #end
  </ul>
#else
  <p>No Artists</p>
#end

<br>
<a href="/">Go back Home</a>
<br>
<a href="/genres/$type.getId()/artists/new">Add another Artist</a>
<!-- all-artist.vtl -->
