<!-- artist-success.vtl -->
<h1>Success!</h1>
<br>
<p>You've successfully created a new artist! Congratulations!</p>
<a href="/genres/$type.getId()/artists">View all artists</a>
<!-- artist-success.vtl -->
