<!--genre-new-form.vtl-->
<h2>Enter a New Genre</h2>

<form action="/genres" method="post">
  <label for="type">Genre Name</label>
  <input type="text" name="type" id="type">
  <button type="submit" class="btn btn-info">Add Genre</button>
</form>
<br>
<a href="/">Return Home</a>
<!--genre-new-form.vtl-->
