<!-- genre.vtl -->
<h1>$type.getType()</h1>
<br>
<a href="/genres/$type.getId()/artists/new">Add New Artist</a>
<br>
<a href="/genres/new">Create New Genre</a>
<br>
<a href="/">Return Home</a>


<!-- genre.vtl -->
