<!--index.vtl-->
<div class="jumbotron">
  <h1>Welcome to the Artist's Corner</h1>
  <h4>Your guide to everything music.</h4>
</div>
<br>
<a href="/artists/new">Add a new artist</a>
<br>
<a href="/artists">View all artists</a>
<!--index.vtl-->
