<!--index.vtl-->
<div class="jumbotron">
  <h1>Welcome to the Artist's Corner</h1>
  <h4>Your guide to everything music.</h4>
</div>
<br>
<a href="/genres/new">Add a new genre</a>
<br>
<a href="/genres">View all genres</a>
<!--index.vtl-->
